<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="88.0.4324.9600" targetFramework="net461" />
  <package id="StoryQ" version="2.0.5" targetFramework="net461" />
</packages>